.container{
    display:inline-block;
    width: 450px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px ;
    margin-left:20px;
}
.name{
    width: 250px;
    background-color: bisque;
    position: relative;
    left: 75px;
    border-radius: 5px;
    
}
.para{
    margin: 15px;
}

.address{
    width: 250px;
    background-color: bisque;
    margin-left: 75px;
}

.age{
    width: 250px;
    background-color: bisque;
    margin-left: 75px;
    margin-top: 10px;
}

.name1{
    width: 250px;
    background-color: rgb(189, 188, 202);
    position: relative;
    left: 75px;
    border-radius: 5px;
    
}
.para1{
    margin: 15px;
}

.address1{
    width: 250px;
    background-color:  rgb(189, 188, 202);
    margin-left: 75px;
}

.age1{
    width: 250px;
    background-color: rgb(189, 188, 202);
    margin-left: 75px;
    margin-top: 10px;
}



.container1{
    
    width: 450px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px ;
    margin-left:20px;
    margin-top: 15px;
}

.name2{
    width: 250px;
    background-color: rgb(189, 188, 202);
    position: relative;
    left: 75px;
    border-radius: 5px;
    
}
.para2{
    margin: 15px;
}

.address2{
    width: 250px;
    background-color:  rgb(189, 188, 202);
    margin-left: 75px;
}

.age2{
    width: 250px;
    background-color: rgb(189, 188, 202);
    margin-left: 75px;
    margin-top: 10px;
}